<a href="https://colab.research.google.com/github/dung18520632/Deep_Learning-Python-Basics/blob/main/pandas_practice_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('pandas-practice-assignment')
jovian.set_colab_id('1N-rfi85hGU-ZYz-l5tyzipwyo-VZ2HN4')

     |████████████████████████████████| 68 kB 6.5 MB/s
  Building wheel for uuid (setup.py) ... done

# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [2]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/dung18520632/pandas-practice-assignment

'https://jovian.ai/dung18520632/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 28.9 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.0 which is incompatible.
Successfully installed pandas-1.3.0

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f944cdb3310>)

Let's load the data from the CSV file into a Pandas data frame.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [5]:
num_countries = countries_df.shape[0]

In [6]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [11]:
continents = countries_df["continent"].unique()

In [15]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [9]:
jovian.commit(project='pandas-practice-assignment', environment=None)

NameError: ignored

**Q3: What is the total population of all the countries listed in this dataset?**

In [16]:
total_population = countries_df["population"].sum()

In [17]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [21]:
countries_df["weighted_average"]=countries_df["population"]*countries_df["life_expectancy"]

In [29]:
average_life=countries_df["weighted_average"].sum()/countries_df["population"].sum()

In [30]:
print( average_life,"life expectancy across in the world?")

72.72165193409664 life expectancy across in the world?

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [27]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)

In [28]:
most_populous_df

          location      continent  ...  gdp_per_capita  weighted_average
41           China           Asia  ...       15308.712      1.106984e+11
90           India           Asia  ...        6426.674      9.613111e+10
199  United States  North America  ...       54225.446      2.610287e+10
91       Indonesia           Asia  ...       11188.744      1.961711e+10
145       Pakistan           Asia  ...        5034.708      1.485943e+10
27          Brazil  South America  ...       14103.452      1.612901e+10
141        Nigeria         Africa  ...        5338.454      1.127377e+10
15      Bangladesh           Asia  ...        3523.984      1.195480e+10
157         Russia         Europe  ...       24765.954      1.059192e+10
125         Mexico  North America  ...       17336.469      9.676403e+09

[10 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [31]:
countries_df['gdp'] = countries_df["gdp_per_capita"]*countries_df["population"]

In [32]:
countries_df

           location continent  ...  weighted_average           gdp
0       Afghanistan      Asia  ...      2.523724e+09  7.022622e+10
1           Albania    Europe  ...      2.261087e+08  3.396791e+10
2           Algeria    Africa  ...      3.371268e+09  6.101364e+11
3           Andorra    Europe  ...      6.469398e+06           NaN
4            Angola    Africa  ...      2.009772e+09  1.912651e+11
..              ...       ...  ...               ...           ...
205         Vietnam      Asia  ...      7.339329e+09  6.007624e+11
206  Western Sahara    Africa  ...      4.196841e+07           NaN
207           Yemen      Asia  ...      1.972093e+09  4.411699e+10
208          Zambia    Africa  ...      1.174551e+09  6.782303e+10
209        Zimbabwe    Africa  ...      9.139214e+08  2.823622e+10

[210 rows x 8 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [35]:
countries_df_milion=countries_df[countries_df["population"]>100000000]

In [40]:
most_populous_df = countries_df_milion.sort_values('gdp_per_capita',ascending=True).head(10)

In [41]:
most_populous_df

        location      continent  ...  weighted_average           gdp
63      Ethiopia         Africa  ...      7.656575e+09  1.988786e+11
15    Bangladesh           Asia  ...      1.195480e+10  5.803628e+11
145     Pakistan           Asia  ...      1.485943e+10  1.112128e+12
141      Nigeria         Africa  ...      1.127377e+10  1.100467e+12
90         India           Asia  ...      9.613111e+10  8.868838e+12
151  Philippines           Asia  ...      7.805461e+09  8.327273e+11
58         Egypt         Africa  ...      7.367054e+09  1.079649e+12
91     Indonesia           Asia  ...      1.961711e+10  3.060386e+12
27        Brazil  South America  ...      1.612901e+10  2.997821e+12
41         China           Asia  ...      1.106984e+11  2.203419e+13

[10 rows x 8 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [44]:
country_counts_df = countries_df.groupby("continent")["location"].count()

In [47]:
country_counts_df.to_frame()

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [48]:
continent_populations_df = countries_df.groupby("continent")["population"].sum()

In [51]:
continent_populations_df.to_frame()

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [52]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

In [53]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [54]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [62]:
total_tests_missing = covid_data_df[covid_data_df["total_tests"].isna()].count().location

In [63]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [64]:
combined_df = covid_data_df.merge(countries_df,on="location")

In [65]:
combined_df

           location  total_cases  ...  weighted_average           gdp
0       Afghanistan      38243.0  ...      2.523724e+09  7.022622e+10
1           Albania       9728.0  ...      2.261087e+08  3.396791e+10
2           Algeria      45158.0  ...      3.371268e+09  6.101364e+11
3           Andorra       1199.0  ...      6.469398e+06           NaN
4            Angola       2729.0  ...      2.009772e+09  1.912651e+11
..              ...          ...  ...               ...           ...
205         Vietnam       1046.0  ...      7.339329e+09  6.007624e+11
206  Western Sahara        766.0  ...      4.196841e+07           NaN
207           Yemen       1976.0  ...      1.972093e+09  4.411699e+10
208          Zambia      12415.0  ...      1.174551e+09  6.782303e+10
209        Zimbabwe       6638.0  ...      9.139214e+08  2.823622e+10

[210 rows x 11 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [66]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [68]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [71]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [72]:
combined_df

           location  total_cases  ...  cases_per_million  deaths_per_million
0       Afghanistan      38243.0  ...         982.394806           36.194710
1           Albania       9728.0  ...        3380.359997          102.856349
2           Algeria      45158.0  ...        1029.804468           34.776824
3           Andorra       1199.0  ...       15518.022390          685.950948
4            Angola       2729.0  ...          83.033462            3.316470
..              ...          ...  ...                ...                 ...
205         Vietnam       1046.0  ...          10.745996            0.359570
206  Western Sahara        766.0  ...        1282.373228            1.674116
207           Yemen       1976.0  ...          66.250993           19.144391
208          Zambia      12415.0  ...         675.317108           15.883415
209        Zimbabwe       6638.0  ...         446.614587           13.859989

[210 rows x 14 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [75]:
highest_tests_df = combined_df.sort_values("tests_per_million",ascending=False)

In [77]:
highest_tests_df.head(10)

                 location  total_cases  ...  cases_per_million  deaths_per_million
197  United Arab Emirates      71540.0  ...        7233.276713           39.128852
14                Bahrain      52440.0  ...       30818.361490          111.660730
115            Luxembourg       7928.0  ...       12665.022301          198.090662
122                 Malta       1931.0  ...        4373.339614           29.442473
53                Denmark      17195.0  ...        2968.645954          108.076323
96                 Israel     122539.0  ...       14157.289533          111.951408
89                Iceland       2121.0  ...        6215.384615           29.304029
157                Russia    1005000.0  ...        6886.653091          119.327539
199         United States    6114406.0  ...       18472.377957          561.155633
10              Australia      25923.0  ...        1016.592979           26.000121

[10 rows x 14 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [78]:
highest_cases_df =combined_df.sort_values("cases_per_million",ascending=False)

In [79]:
highest_cases_df.head(10)

          location  total_cases  ...  cases_per_million  deaths_per_million
155          Qatar     119206.0  ...       41375.743650           69.071800
14         Bahrain      52440.0  ...       30818.361490          111.660730
147         Panama      94084.0  ...       21805.112117          470.477208
40           Chile     414739.0  ...       21695.671982          593.423100
162     San Marino        735.0  ...       21657.139490         1237.550828
9            Aruba       2211.0  ...       20708.839893          112.395332
105         Kuwait      86478.0  ...       20249.789079          125.276222
150           Peru     663437.0  ...       20121.318048          887.393445
27          Brazil    3997865.0  ...       18808.224105          582.331314
199  United States    6114406.0  ...       18472.377957          561.155633

[10 rows x 14 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [80]:
highest_deaths_df = combined_df.sort_values("deaths_per_million",ascending=False)

In [81]:
highest_deaths_df.head(10)

           location  total_cases  ...  cases_per_million  deaths_per_million
162      San Marino        735.0  ...       21657.139490         1237.550828
150            Peru     663437.0  ...       20121.318048          887.393445
18          Belgium      85817.0  ...        7404.645676          854.040375
3           Andorra       1199.0  ...       15518.022390          685.950948
177           Spain     479554.0  ...       10256.790198          624.406705
198  United Kingdom     338676.0  ...        4988.892850          611.525168
40            Chile     414739.0  ...       21695.671982          593.423100
97            Italy     271515.0  ...        4490.684602          587.097697
27           Brazil    3997865.0  ...       18808.224105          582.331314
182          Sweden      84532.0  ...        8370.109919          576.279276

[10 rows x 14 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [86]:
list_features_highest_cases_test = highest_cases_df.head(10).merge(highest_tests_df.head(10), on='location')
list_features_highest_cases_test

        location  total_cases_x  ...  cases_per_million_y  deaths_per_million_y
0        Bahrain        52440.0  ...         30818.361490            111.660730
1  United States      6114406.0  ...         18472.377957            561.155633

[2 rows x 27 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
combined_df_10=combined_df[combined_df["population"]>10000000]
combined_df_10

In [ ]:
combined_df_top20_countries=combined_df_10.sort_values("gdp_per_capita",ascending=True).head(20)
combined_df_top20_countries

In [ ]:
combined_df_top20_hospital=combined_df_10.sort_values("hospital_beds_per_thousand",ascending=True).head(20)
combined_df_top20_hospital

In [102]:
list_features_lowest= combined_df_top20_countries.merge(combined_df_top20_hospital, on='location')
list_features_lowest.location.count()

14

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2